# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# IDE
.idea/
.vscode/

# Uploaded Files
uploads/

# Generated Reports
reports/

# Database (optional)
interview.db

# OS files
.DS_Store
Thumbs.db